<div class="container">
  <header class="jumbotron">
    <p>This is an assignment. I have created multiple server side functionalities which needs to be integrated on frontend </p>
    <ul>
    <b>Functionalities</b>
    <li>User can login </li>
    <li>User can register</li>
    <li>User can search user by first name</li>
    <li>User can start chat with a user</li>
      <li>Live messages can be sent and received</li>
    </ul>
    <ul>
      <b>Improvements and comments</b>
      <li>I already have done work on socket at early stage studios we created multiple chats, auto messages , pop up confirmation from chate,files etc</li>
      <li>The production I worked on chat using socket.io but it was 2.0 version as now socket is 4.0 so multiple things updated</li>
      <li><a href="https://www.broadinfluence.com/">Broad Influence</a> by Erly Stage Studios</li>
      <li>We can implement cookies in it</li>
      <li>We can implement chat rooms number of users a user has already started the chat</li>
      <li>Better frontend, coding structure can be improved</li>
      <li>Thank you for giving me the opportunity to attempt</li>
      <li>Refrences: Broad Influence Project Code and also socket.io documentation </li>
      <li>I am sharing the screencast and also the zip code link for both the frontend and backend</li>
    </ul>
  </header>
</div>
